

@if (AppModelObject.ItemDtoList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <Button Color=Color.Primary Size="Size" Block=true Margin=Margin.Is2.FromTop
        @onclick="LoadAllFromCache">
        @Localizer["View All Items"]
    </Button>

    @foreach (var item in AppModelObject.ItemDtoList)
    {
        <Button Color=Color.Primary Size="Size" Block=true Margin=Margin.Is2.FromTop 
        @onclick="@(async () => await ClickId(item.ItemID))">
            @*@Localizer[$"ItemId -{item.ItemID} , Item Name - {@item.Name}"]*@
            @Localizer["Item Name"]- @item.Name
        </Button>
    }
}

@code
    {
        #region Variables

        #region Parameter

        [Parameter]
        public AppModel AppModelObject { get; set; } = null!;

        [Parameter]
        public EventCallback<AppModel> AppModelObjectChanged { get; set; }

        [Parameter]
        public SettingsModel Settings { get; set; } = null!;

        [Parameter]
        public EventCallback<SettingsModel> SettingsChanged { get; set; }

        #endregion

        #region CascadingParameter

        [CascadingParameter]
        Blazorise.Size Size { get; set; }

        #endregion

        #region Inject

        [Inject]
        ITextLocalizer<Translations> Localizer { get; set; } = null!;

        #endregion 

        #endregion

        protected override async Task OnInitializedAsync()
        {
            await Task.Delay(0);
        }

        async Task LoadAllFromCache()
        {
            AppModelObject.SelectedItemDtoList = AppModelObject.ItemDtoList;

            AppModelObject.SelectedItemVariationDtoList = AppModelObject.ItemVariationDtoList;

            AppModelObject.SelectedSkuModelDtoList = AppModelObject.SkuModelDtoList;

            await AppModelObjectChanged.InvokeAsync(AppModelObject);
        }

        async Task ClickId(long ItemID)
        {
            var myItemsList = (from x in AppModelObject.ItemDtoList
                          where x.ItemID == ItemID
                          select x).ToList<ItemDto>();

            AppModelObject.SelectedItemDtoList = myItemsList;

            var myItemVariationsList = (from x in AppModelObject.ItemVariationDtoList
                           where x.ItemID == ItemID
                           select x).ToList<ItemVariationDto>();

            AppModelObject.SelectedItemVariationDtoList = myItemVariationsList;

            var mySkuModelList = (from x in AppModelObject.SkuModelDtoList
                          where x.ItemID == ItemID
                          select x).ToList<SkuModelDto>();

            AppModelObject.SelectedSkuModelDtoList = mySkuModelList;

            await AppModelObjectChanged.InvokeAsync(AppModelObject);
        }
    }